Assignments/assignment 2/index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="aptech">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="car" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="brand" type="xs:string"/>
              <xs:element name="year" type="xs:integer"/>
              <xs:element name="image" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
